extends layout.pug

block content 
  include includes/back.pug
  
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Name
        h1=developer.dev_name

        //- Title
        p.lead.text-light=developer.dev_title

        //- About/Elevator Pitch
        .portfolio-bio
          p=developer.dev_elevator_pitch

      //- Skills & Contact
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          each skill in developer.dev_skills
            li=skill
          
        h6 Contact Info

        a.button.expanded(href=`mailto:${developer.dev_email}`) Email
        a.button.expanded(href=`${developer.social_media.linkedin}`) LinkedIn
        a.button.expanded(href=`${developer.social_media.github}`) GitHub

  include includes/back.pug
  