extends layout

block content 
  include includes/back.pug
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Project Title
        h1 #{projectData.project_name}

        //- Project Description
        p.lead.text-light
          | #{projectData.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        //- Technolgies used
        ul
          each technology in projectData.technologies
            li=technology

        //- Live Demo and Git Repo links
        a.button.expanded(href=`${projectData.live_link}`, target="_blank") Live Demo
        a.button.expanded(href=`${projectData.git_repo}`, target="_blank") GitHub Repo
    
    //- Project Images
    each imageUrl in projectData.image_urls.additional
      img.image(src=`${imageUrl}`)
    